
.header-wrapper {
  text-align: center;
}

.header-wrapper .link {
  display: inline-block;
  margin: 0 40px;
  font-size: 20px;
}

.sex-selector {
  font-weight: bold;
  margin: 15px 0;
}

h1 {
  display: inline-block;
  margin: 0 auto;
}

